<style>
    .aboutus-area {
        background-image: url(../static/img/index_about.jpeg);
        background-repeat: no-repeat;
        height: 300px;
        background-size: 100%;
        /*
        background-size: 100% 100%; */
    }

</style>



<div class="w-full wrap">
    <div class="aboutus-area w-full">
        <!-- <img src="../static/img/index_about.jpeg" alt="">  -->
    </div>

    <div class="jumbotron w wrap">
        <h2>关于我们:</h2> <br>
        <p>
            三藩科技位于美丽的苏州工业园区，成立于2018年，是一家提供IT服务/IT运维的公司。我们的团队大多由3~10的从业经验的人员组成。
        </p>
        <br>
        <p>
            我们提供电脑安装维护、服务器安装维护、网络设备安装维护、监控系统安装维护、无线网络安装维护、POS系统安装维护、办公设备安装维护等7大标准化、及网络工程（定制化）服务，致力于打造创新互联网+IT服务B2B-C平台，以专业的服务和负责任的态度，为电商、连锁企业、微、小企业、政府及事业单位、设备厂商等提供“诚信、透明、无忧、高效、智能”以及低成本的一站式IT服务解决方案。
        </p>
        <br>
        <p>三藩科技将携手客户、员工、股东、伙伴，共创美好生活：</p>
        <p>携手客户，通过提供优质产品与服务，不断超越客户期望，持续创造客户价值；</p>
        <p>携手员工，通过权益保护与人文关怀，帮助员工实现价值，提升员工幸福指数；</p>    
        <p>携手股东，通过依法依规治企，提高治理能力与业绩水平，实现企业稳健发展；</p>
        <p>携手伙伴，通过恪守商业道德，营造良好商业环境，开创合作共赢新局；</p>
    </div>
</div>

<script type="text/javascript">
    $(".m-current-nav-item").removeClass("m-current-nav-item");
    $("#aboutus").addClass("m-current-nav-item"); 
</script>