<style>
	.aboutus-area {
        background-image: url(../static/img/index_about.jpeg);
        background-repeat: no-repeat;
        height: 305px;
        background-size: 100%;
        /*
        background-size: 100% 100%; */
		}
		

.list-group-item {
	border-color: #ffffff;
}
.list-group-item:first-child {
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}
.list-group-item:last-child {
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

</style>



<div class="w-full wrap">
	<div class="m-huge-banner w-full wrap"></div>
	<hr class="featurette-divider">

	<div class="container wrap">
		<div class="row">
			<div class="list-group col-xs-4 col-md-2">
				<h1>关于我们</h1>
				<hr class="featurette-divider">

				<a href="./aboutus" class="list-group-item">公司简介</a>
				<a href="./joinus" class="list-group-item">加入我们</a>
				<a href="./contactus" class="list-group-item">联系我们</a>
			</div>

			<div class="col-xs-8 col-md-10">
				<h1 class="text-center">{{.CrtTitle}}</h1>
				<hr class="featurette-divider">
				<div>
					{{if eq 0 .AboutPageCrtContentsFlag}}
						{{template "company_profile.tpl" .}}
					{{else if eq 1 .AboutPageCrtContentsFlag}}
						{{template "joinus.tpl" .}}
					{{else if eq 2 .AboutPageCrtContentsFlag}}
						{{template "contactus.tpl" .}}
					{{else}}
						<p>你是我的小啊小苹果!!!</p>
					{{end}}
				</div>

			</div>
			<hr class="featurette-divider">

		</div>
	</div>
</div>

<script type="text/javascript">
	$(".m-current-nav-item").removeClass("m-current-nav-item");
	$("#aboutus").addClass("m-current-nav-item");
</script>
