<style>
    .aboutus-area {
        margin: 0 auto;
        width: 1000px; 
        height: 300px; 
        background-image: url(../static/img/index_about.jpeg);
        background-repeat: no-repeat;
        /*
        background-size: 100% 100%;
        */
        background-size: 100%;;
    }
</style>



<div>
    <div class="aboutus-area">
        <!-- <img src="../static/img/index_about.jpeg" alt="">  -->
    </div>

    <div class="w wrap">
        <p>
            三藩网络科技有限公司位于美丽的苏州工业园区，成立于2018年，是一家提供IT服务/IT运维的服务性科技公司。我们的团队是由美籍华人领队，有3~10年从业经验的研发成员。
        </p>
        <p>
            我们提供电脑安装维护、服务器安装维护、网络设备安装维护、监控系统安装维护、无线网络安装维护、POS系统安装维护、办公设备安装维护等7大标准化、及网络工程（定制化）服务，致力于打造创新互联网+IT服务B2B-C平台，以专业的服务和负责任的态度，为电商、连锁企业、微、小企业、政府及事业单位、设备厂商等提供“诚信、透明、无忧、高效、智能”以及低成本的一站式IT服务解决方案。
        </p>
        <p>∗公司文化：诚实守信、尊重客户、尊崇创新、团队合作。</p>
        <p>∗公司价值观：客户第一、员工第二、股东第三。</p>
        <p>∗公司愿景：用互联网思维，升级客户服务水平。</p>
        <p>∗服务宗旨：融合你我，共创未来。</p>
        <p>∗我们的支持：我们提供给您的不仅仅是项目技术支持，还有产品推广的机会，更多的合作模式等你来。</p>
        <p>∗公司寄语：进入21世纪，世界的变化是飞快的，以前PC互联网解决了信息对称，而现在的移动互联网解决了效率对接，未来的物联网需要解决万物互联：数据自由共享、价值按需分配。互联网+的本质就是搭建一个底层建筑，使上面的每一个人都可以迅速找到目标。无论是找客户、找恋人还是找伙伴。各行各业正在进入一个快速发展的商业时代，拥抱变化，你才能赶上这个时代的列车。</p>
             
    </div>
</div>

<script type="text/javascript">
    $(".m-current-item").removeClass("m-current-item");
    $("#aboutus").addClass("m-current-item"); 
</script>