<style>
    .m-masthead {
        background-image: url(../static/img/machine.png);
        background-repeat: no-repeat;
        height: 305px;
        background-size: 100%;
        /*
        background-size: 100% 100%; */
    }

</style>



<div class="m-masthead w-full wrap" style="color:lavenderblush;">


</div>
<div class="jumbotron w wrap">
    <h1>联系我们</h1>
    <p>...</p>
</div>



<script type="text/javascript">
    $(".m-current-nav-item").removeClass("m-current-nav-item");
    $("#contactus").addClass("m-current-nav-item"); 
</script>