
<div class="m-huge-banner w-full wrap">
    
</div>

<div class="jumbotron w wrap" style="font-size:18px;" >
    <h1>联系我们<span class="badge">网络改造</span></h1>
    <span class="label label-default">New</span>
    <span class="label label-info">New</span>
    <span class="label label-success">New</span>
    <span class="label label-default">New</span>
    <span class="label label-default">New</span>
    <span class="label label-default">New</span>
    <p>...</p>
</div>



<script type="text/javascript">
    $(".m-current-nav-item").removeClass("m-current-nav-item");
    $("#excellent").addClass("m-current-nav-item"); 
</script>

