<div class="m-banner-index w-full wrap">
 
    <div class="m-ux-band-desc-site w wrap">
        <br><p>专注于心&emsp;|&emsp;专业于行</p>
        <p>Focus on the heart and profession</p>
        <br/>
        <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;客户至上&emsp;|&emsp;服务至上</p>
        <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Customer first, service first</p>
    </div>
</div>

<div class="itbox wrap w">
    <div class="big-title">
        <h2>六大核心业务</h2>
    </div>
    <div class="business-box wrap">
        <div class="business-show-left">
        <ul class="">
            <li>
                <a href="">
                    <div class="tin">
                        <img style="margin:0 auto;" src="../static/img/tv.png" alt="">
                        <div class="tin-desc">
                            <h4>IT外包服务</h4>
                            <p>企业IT外包服务、电脑维护、远程服务、到场服务、驻场服务</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tin">
                        <img src="../static/img/pic_network.png" alt="">
                        <div class="tin-desc">
                            <h4>综合布线</h4>
                            <p>管道预埋、线缆铺设、机柜安装、端口标签、线缆测试</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tin">
                        <img src="../static/img/Camera.png" alt="">
                        <div class="tin-desc">
                            <h4>监控设备</h4>
                            <p>摄像头布线安装调试、故障检测、监控设备解决方案</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        </div>
        <div class="business-show-right">
        <ul class="wrap">
            <li>
                <a href="">
                    <div class="tin">
                        <img src="../static/img/network.png" alt="">
                        <div class="tin-desc">
                            <h4>网络设备</h4>
                            <p>路由器、防火墙、交换机、无线设备安装调试维护、检测维修</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tin">
                        <img src="../static/img/unlock.png" alt="">
                        <div class="tin-desc">
                            <h4>门禁系统</h4>
                            <p>门禁安装服务、现场勘测、产品选型、图纸设计、故障检测</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tin">
                        <img src="../static/img/server.png" alt="">
                        <div class="tin-desc">
                            <h4>服务器</h4>
                            <p>服务器系统安装、服务器上机架、硬盘、内存等安装</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        </div>
    </div>
</div>

<div class="itbox w wrap">
    <div class="big-title">
        <h2>我们可以为您解决什么</h2>
    </div>
    <div class="row">
        <div class="thumbnail col-md-4">
            <img src="../static/img/design.png" alt="">
            <h3>项目设计辅助</h3>
            <p>提供网络工程相关的设计意见</p>
            <div class="caption">
                    多年来，我们累积了丰富的多地区、并发量大的IT项目实施经验，为众多商城及连锁门店成功搭建网络工程和企业IT基础架构，从结构，系统，服务，管理四个方面提供一个成本合理、以及高效、安全的企业IT环境，通过模块化的、灵活性的、可靠性极高的布线网络和高效快速地上门维护服务，使得整个企业信息系统稳定可靠地运行，保证各类信息通讯畅通无阻。
            </div>
        </div>
        <div class="thumbnail col-md-4">
            <img src="../static/img/people-carry.png" alt="">
            <h3>项目实施</h3>
            <p>网络工程-设备升级-技术整改</p>
            <label for=""></label>
            <div class="caption">
                    多年来，我们累积了丰富的多地区、并发量大的IT项目实施经验，为众多商城及连锁门店成功搭建网络工程和企业IT基础架构，从结构，系统，服务，管理四个方面提供一个成本合理、以及高效、安全的企业IT环境，通过模块化的、灵活性的、可靠性极高的布线网络和高效快速地上门维护服务，使得整个企业信息系统稳定可靠地运行，保证各类信息通讯畅通无阻。
            </div>
        </div>
        <div class="thumbnail col-md-4">
            <img src="../static/img/repair.png" alt="">
            <h3>售后技术服务</h3>
            <p>标准规范-价格透明</p>
            <div class="caption">
                    在E客平台上，（E客）已在全国范围内拥有注册工程师超过15000名，可以为各大企业的全国性、突发性IT维护提供专业、及时的技术支持，平台上标准规范的IT服务内容包括电脑、服务器、网络设备、监控系统、无线网络、POS系统、办公设备等的上门售后安装维护，及调试、定期巡检、验收等综合IT技术服务。
            </div>
        </div>
    </div>
</div>




<style>
.m-ux-band-desc-site{
    min-width: 900px;
    font-size:36px;
    font-weight: 500; 
    color: #fff;
}


</style>

<script type="text/javascript">
    $(".m-current-nav-item").removeClass("m-current-nav-item");
    $("#index").addClass("m-current-nav-item"); 
</script>