<style>
	.m-huge-banner-01{
		background-image: url(../static/img/nimbus-hero_grey.jpg); 
    background-repeat: no-repeat;	
    height: 300px;

    font-size:32px;
    font-weight: 500; 
    color: #fff;
}
.m-ux-left {
    float: left;
    width: 80%;
    height: 50%;
}
.m-ux-right {
    float: right;
    width: 50%;
    height: 50%;
}


/* Center align the text within the three columns below the carousel */
.recommended_service_block {
	background-color:whitesmoke;
	background-image: url(../static/img/bkgd.png); 
	padding: 50px 0; 
}
.recommended_service_item {
	text-align: center; 
	height: 200px;
	margin: 10px 0;  
	padding: 5px 2px; 
}
.recommended_service_item {
	background-color: #fff;
}
.recommended_service_item:hover {
	background-color:whitesmoke; 
	background-color: #e6e6e6;
}

a {
	color: black;
}
</style>


<div class="w-full wrap m-huge-banner-01" style="display:none;">
	<div class="wrap w">
		<div class="m-ux-left">
			<br>
			<p>&emsp;&emsp;&emsp;专注于心&emsp;|&emsp;专业于行</p>
			<p>&emsp;&emsp;&emsp;Focus on the heart and profession.</p>
		</div>
		<div class="m-ux-right">
			<p>客户至上&emsp;|&emsp;服务至上</p>
			<p>Customer first. &nbsp; Service first.</p>
		</div>
	</div>
</div>

<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Library</a></li>
	<li class="active">Data</li>
</ol>

<div class="recommended_service_block">
	<div class="container">
		<h1 class="blog-post-title text-center">推荐服务</h1>

		<!-- Three columns of text below the carousel -->
		<div class="row recommended_service_items">
			<li class="col-md-3">
				<a>
					<div class="recommended_service_item ">
						<img class="" src="../static/img/驻场服务.png" alt="Generic placeholder image" width="64" height="64">
						<h2>驻场服务</h2>
						<p>按照IT工作量选择工程师驻场服务时间, 人员稳定</p>
					</div>
				</a>
			</li>
			<li class="col-md-3">
				<a>
					<div class="recommended_service_item ">
						<img class="" src="../static/img/机房.png" alt="Generic placeholder image" width="64" height="64">
						<h2>机房建设</h2>
						<p>我们的团队集建筑、电气、机电安装、网络构建等多个专业技术于一体，拥有丰富的工程实施和管理经验</p>
					</div>
				</a>
			</li>
			<li class="col-md-3">
				<a>
					<div class="recommended_service_item ">
						<img class="" src="../static/img/作业报警.png" alt="Generic placeholder image" width="64" height="64">
						<h2>防盗报警</h2>
						<p>设备一般分为：前端探测器，报警控制器。报警控制器是一台主机（如电脑的主机一样）</p>
					</div>
				</a>
			</li>
			<li class="col-md-3">
				<a>
					<div class="recommended_service_item ">
						<img class="" src="../static/img/jiankong.png" alt="Generic placeholder image" width="64" height="64">
						<h2>视频监控</h2>
						<p>由从业多年的方案设计专家，为您量身打造精准、专业、智能的监控解决方案</p>
					</div>
				</a>
			</li>
			<li class="col-md-3">
				<a>
					<div class="recommended_service_item ">
						<img class="" src="../static/img/buxian.png" alt="Generic placeholder image" width="64" height="64">
						<h2>综合布线</h2>
						<p>在新办公室装修、老办公室整理时, 我们提供定制化的方案、实惠的价格及标准化施工</p>
					</div>
				</a>
			</li>
			<li class="col-md-3">
				<a>
					<div class="recommended_service_item ">
						<img class="" src="../static/img/network.png" alt="Generic placeholder image" width="64" height="64">
						<h2>网络改造</h2>
						<p>为客户提供网络环境重新搭建、设备升级等项目实施，为业务系统健康运行提供保障</p>
					</div>
				</a>
			</li>
			<li class="col-md-3">
				<a>
					<div class="recommended_service_item ">
						<img class="" src="../static/img/邮件.png" alt="Generic placeholder image" width="64" height="64">
						<h2>邮件服务器</h2>
						<p>提供从邮件系统选型咨询、搭建部署到后期运维支持的“一站式”解决方案</p>
					</div>
				</a>
			</li>
			<li class="col-md-3">
					<a href="/service">
						<div class="recommended_service_item ">
							<img class="" src="../static/img/more.png" alt="Generic placeholder image" width="64" height="64">
							<h2>more</h2> 
							<p>查看更多</p>
						</div>
					</a>
				</li>

		</div><!-- /.row -->

	</div>
</div>



<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h1 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h1>
		<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
			euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
			ac cursus commodo.</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="../static/img/u8.jpg"
		 data-holder-rendered="true">
	</div>
</div>

<hr class="featurette-divider">

</div>



<script type="text/javascript">
	$(".m-current-nav-item").removeClass("m-current-nav-item");
	$("#index").addClass("m-current-nav-item");
</script>
