<style>
	.m-huge-banner-01{
		background-image: url(../static/img/nimbus-hero_grey.jpg); 
    background-repeat: no-repeat;	
    height: 300px;

    font-size:32px;
    font-weight: 500; 
    color: #fff;
}
.m-ux-left {
    float: left;
    width: 80%;
    height: 50%;
}
.m-ux-right {
    float: right;
    width: 50%;
    height: 50%;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Thin out the marketing headings */
.featurette-heading {
	margin-top: 50px;
	margin-top: 120px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

</style>


<div class="w-full wrap m-huge-banner-01" style="display:none;">
	<div class="wrap w">
		<div class="m-ux-left">
			<br>
			<p>&emsp;&emsp;&emsp;专注于心&emsp;|&emsp;专业于行</p>
			<p>&emsp;&emsp;&emsp;Focus on the heart and profession.</p>
		</div>
		<div class="m-ux-right">
			<p>客户至上&emsp;|&emsp;服务至上</p>
			<p>Customer first. &nbsp; Service first.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="background: linear-gradient(-185deg,rgba(245,245,245,1) 50%,#fff 50%);">
		<div class="col-md-4" style="height: 400px; background-color:blueviolet;">

		</div>
		<a href="#">
			<div class="col-xs-6 col-md-6">
				<div class="media">
					<div class="media-left media-middle">
						<img class="media-object" src="../static/img/computer.png" alt="...">
					</div>
					<div class="media-body">
						<h3 class="media-heading">IT外包</h3>
						<hr class="featurette-divider">
						<p>企业IT外包服务、电脑维护、远程服务、到场服务、驻场服务</p>
					</div>
				</div>
			</div>
		</a>

	</div>
</div>

<div class="container marketing">
	<br><br>
	<h1 class="blog-post-title text-center">推荐服务</h1>
	<br><br>
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-md-4" style="background-color:brown;"> 
			<img class="" src="../static/img/computer.png" alt="Generic placeholder image" width="64" height="64">
			<h2>IT外包</h2>
			<p>提供企业IT外包服务、电脑维护、远程服务、到场服务、驻场服务</p>
		</div><!-- /.col-md-4 -->
		<div class="col-md-4">
			<img src="../static/img/network.png" alt="Generic placeholder image">
			<h2>网络设备</h2>
			<p>路由器、防火墙、交换机、无线设备安装调试维护、检测维修</p>
		</div><!-- /.col-md-4 -->
		<div class="col-md-4">
			<img src="../static/img/server.png" alt="Generic placeholder image">
			<h2>服务器</h2>
			<p>服务器系统安装、服务器上机架、硬盘、内存等安装</p>
		</div><!-- /.col-md-4 -->
		<div class="col-md-4">
			<img class="" src="../static/img/buxian.png" alt="Generic placeholder image" width="64" height="64">
			<h2>综合布线</h2>
			<p>管道预埋、线缆铺设、机柜安装、端口标签、线缆测试</p>
		</div><!-- /.col-md-4 -->
		<div class="col-md-4">
			<img src="../static/img/menjin.png" alt="Generic placeholder image">
			<h2>门禁系统</h2>
			<p>门禁安装服务、现场勘测、产品选型、图纸设计、故障检测</p>
		</div><!-- /.col-md-4 -->
		<div class="col-md-4">
			<img src="../static/img/jiankong.png" alt="Generic placeholder image">
			<h2>监控设备</h2>
			<p>摄像头布线安装调试、故障检测、监控设备解决方案</p>
		</div><!-- /.col-md-4 -->
	</div><!-- /.row -->



	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h1 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h1>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
				euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
				ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="../static/img/u8.jpg"
			 data-holder-rendered="true">
		</div>
	</div>

	<hr class="featurette-divider">

</div>



<script type="text/javascript">
	$(".m-current-nav-item").removeClass("m-current-nav-item");
	$("#index").addClass("m-current-nav-item");
</script>
