<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专注IT服务-IT运维服务</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- navigation-->
    <nav class="navbar navbar-fixed-top">
        <div class="w wrap" style="height: 100%;"> 
            <div class="nav m-nav-logo"> 
                <img src="../static/img/l_redhat-lg.png" alt="">
            </div> 
            <ul class="m-nav-ul">
                <li class="m-current-item" onClick="location.href='./'">首页</li>
                <li onClick="location.href='./aboutus'">公司介绍</li>
                <li onClick="location.href='./'">服务内容</li>
                <li onClick="location.href='./joinus'">加入我们</li>
                <li onClick="location.href='./contactus'">联系我们</li>
            </ul>
        </div>
    </nav>

    <!-- current content -->
    {{.LayoutContent}}

    <script type="text/javascript" src="../static/js/m.js"></script>
</body>
</html>