<style>
	.content-block {
		background-image: url(../static/img/t61.jpg); 
		background-repeat: no-repeat; 
		background-size: 100% 100%;
		padding: 10px 50px; 
	}
</style>

<div class="m-huge-banner w-full wrap">
	<div class="m-huge-title text-center">弱电工程&emsp;之&emsp;{{.CrtTitle}}</div>
</div>

<div class="container">


	<div class="row">
		<div class="page-header">
			<h2 class="text-center">{{.CrtTitle}}</h2>
			<p class="text-justify">{{.TitleDesc}}</p>
		</div>

		<!-- 系统组成 -->
		<h3>系统组成：</h3>
		<div class="content-block">
			{{range $name, $value := .CompriseItems}}
			<h3>{{$name}}</h3> 
				<p>{{$value}}</p>
			{{end}}
		</div>

		<!-- 包含功能 -->
		<h3>系统功能：</h3>
		<div class="content-block">
			
			{{range $name, $value := .FunctionItems}}
			<h3>{{$name}}</h3>
			<p class="text-justify">{{$value}}</p>
			{{end}}
		</div>
	</div> <!-- row end -->

</div> <!-- container end -->


<!-- javascript -->
<script type="text/javascript">
	$(".m-current-nav-item").removeClass("m-current-nav-item");
	$("#service").addClass("m-current-nav-item");
</script>

