<style>
	.trouble-block {
		padding: 50px 0; 
	} 
</style>


<div class="m-huge-banner w-full wrap">
	<div class="m-huge-title text-center">弱电工程&emsp;之&emsp;{{.CrtTitle}}</div>
</div>

<div class="container">
	<div class="row featurette trouble-block">
		<h2 class="text-center">{{.CrtTitle}}工程是否一直被以下问题困扰？</h2>
		<div class="col-md-2">
			<img src="../static/img/trouble.gif11" alt="" class="img-thumbnail"> 
		</div>
		<div class="col-md-8"> 
			<table class="table table-bordered11 table-hover">
				<thead>
					<tr>
						<th colspan="2" class="lead text-center ">TROUBLED</th>
					</tr>
				</thead>
				<tbody> 
					{{range $name, $value := .TroubleItems}} 
					<tr> 
						<td class="text-warning">{{$name}}</i></td>
						<td>&emsp;{{$value}}</td> 
					</tr> 
					{{end}} 
				</tbody>
			</table> 
		</div> 
	</div> 


	<div class="row">
		<div class="page-header">
			<h3 class="text-center">{{.CrtTitle}}</h3>
			<p class="text-justify">{{.TitleDesc}}</p>
		</div>


		<table class="table table-bordered11 table-hover">
			<thead>
				<tr>
					<th colspan="2" class="lead text-center bg-primary">综合布线系统包括六个子系统</th>
				</tr>
			</thead>
			<tbody>
				{{range $name, $value := .PartsMap}}
				<tr>
					<td class="bg-danger">{{$name}}</td>
					<td class="bg-warning">{{$value}}</td>
				</tr>
				{{end}} 
			</tbody>
		</table>


		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">综合布线系统包括六个子系统：</h4>
				<p>综合布线系统一个能够支持任何用户选择的话音、数据、图形图像应用的电信布线系统。系统应能支持话音、图形、图像、数据多媒体、安全监控、传感等各种信息的传输，支持UTP、光纤、STP、同轴电缆等各种传输载体，支持多用户多类型产品的应用，支持高速网络的应用。</p>
				<h3 class="media-heading">综合布线系统包括六个子系统：</h3>
				<p>工作区子系统、水平支干线子系统、管理子系统、垂直主干子系统、设备子系统和建筑群主干子系统。</p>
			</div>
			<div class="media-right">
				<img class="media-object" src="../static/img/u8.jpg" alt="..." width="300" height="300">
			</div>
		</div>

	</div> <!-- row end -->

	<div class="row"> 
		<div class="col-xs-4 col-md-2">
			<h1 class="text-center" style="color:gold;">01</h1>
			<p>综合布线系统一个能够支持任何用户选择的话音、数据、图形图像应用的电信布线系统。系统应能支持话音、图形、图像、数据多媒体、安全监控、传感等各种信息的传输，支持UTP、光纤、STP、同轴电缆等各种传输载体，支持多用户多类型产品的应用，支持高速网络的应用。</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<h1 class="text-center" style="color:gold;">02</h1>
			<p>综合布线系统一个能够支持任何用户选择的话音、数据、图形图像应用的电信布线系统。系统应能支持话音、图形、图像、数据多媒体、安全监控、传感等各种信息的传输，支持UTP、光纤、STP、同轴电缆等各种传输载体，支持多用户多类型产品的应用，支持高速网络的应用。</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<h1 class="text-center" style="color:gold;">03</h1>
			<p>综合布线系统一个能够支持任何用户选择的话音、数据、图形图像应用的电信布线系统。系统应能支持话音、图形、图像、数据多媒体、安全监控、传感等各种信息的传输，支持UTP、光纤、STP、同轴电缆等各种传输载体，支持多用户多类型产品的应用，支持高速网络的应用。</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<h1 class="text-center" style="color:gold;">04</h1>
			<p>综合布线系统一个能够支持任何用户选择的话音、数据、图形图像应用的电信布线系统。系统应能支持话音、图形、图像、数据多媒体、安全监控、传感等各种信息的传输，支持UTP、光纤、STP、同轴电缆等各种传输载体，支持多用户多类型产品的应用，支持高速网络的应用。</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<h1 class="text-center" style="color:gold;">05</h1>
			<p>综合布线系统一个能够支持任何用户选择的话音、数据、图形图像应用的电信布线系统。系统应能支持话音、图形、图像、数据多媒体、安全监控、传感等各种信息的传输，支持UTP、光纤、STP、同轴电缆等各种传输载体，支持多用户多类型产品的应用，支持高速网络的应用。</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<h1 class="text-center" style="color:gold;">06</h1>
			<p>综合布线系统一个能够支持任何用户选择的话音、数据、图形图像应用的电信布线系统。系统应能支持话音、图形、图像、数据多媒体、安全监控、传感等各种信息的传输，支持UTP、光纤、STP、同轴电缆等各种传输载体，支持多用户多类型产品的应用，支持高速网络的应用。</p>
		</div>
	</div>

</div> <!-- container end -->


<!-- javascript -->
<script type="text/javascript">
	$(".m-current-nav-item").removeClass("m-current-nav-item");
	$("#service").addClass("m-current-nav-item");
</script>


