<div class="m-huge-banner w-full wrap">
  <div class="m-huge-title text-center">专业服务</div>
</div>

<style>
.thumbnail {
  border: 1px solid #fff; 
  color: black; 
}
</style>

<div class="container wrap">
  <div class="row">
    <hr class="featurette-divider">
    <blockquote>
      <h2>运维服务</h2>
    </blockquote>
    <div class="col-xs-4 col-md-2">
      <a href="" onclick="window.open('/zhuchang')" class="thumbnail">
        <img src="../static/img/驻场服务.png" alt="...">
        <p class="text-center">驻场服务</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="/yinji" class="thumbnail">
        <img src="../static/img/应急服务.png" alt="...">
        <p class="text-center">应急服务</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="" onclick="window.open('/yuanchen')"class="thumbnail">
        <img src="../static/img/远程服务.png" alt="...">
        <p class="text-center">远程服务</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/微管家服务.png" alt="...">
        <p class="text-center">微网管服务</p>
      </a>
    </div>
  </div> <!-- row -->
  <div class="row">
    <hr class="featurette-divider">
    <blockquote>
      <h2>系统集成</h2>
    </blockquote>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/network.png" alt="...">
        <p class="text-center">网络改造</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/wifi.png" alt="...">
        <p class="text-center">无线覆盖</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/访问控制策略.png" alt="...">
        <p class="text-center">访问控制</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/管理员.png" alt="...">
        <p class="text-center">上网行为管理</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/虚拟机.png" alt="...">
        <p class="text-center">服务器虚拟化</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/computer.png" alt="...">
        <p class="text-center">桌面虚拟化</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/负载均衡.png" alt="...">
        <p class="text-center">服务器负载均衡</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/vpn.png" alt="...">
        <p class="text-center">VPN专用网</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img src="../static/img/共享案源.png" alt="...">
          <p class="text-center">数据文件共享</p>
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img src="../static/img/快照备份ico.png" alt="...">
          <p class="text-center">数据备份</p>
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img src="../static/img/邮件.png" alt="...">
          <p class="text-center">邮件服务器</p>
        </a>
      </div>
  </div> <!-- row -->
  <div class="row">
    <hr class="featurette-divider">
    <blockquote>
      <h2>弱电工程</h2>
    </blockquote>
    <div class="col-xs-4 col-md-2">
      <a href="" onclick="window.open('/buxian')" class="thumbnail">
        <img src="../static/img/buxian.png" alt="...">
        <p class="text-center">综合布线</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/机房.png" alt="...">
        <p class="text-center">机房建设</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/menjin.png" alt="...">
        <p class="text-center">门禁考勤</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/jiankong.png" alt="...">
        <p class="text-center">视频监控</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/作业报警.png" alt="...">
        <p class="text-center">防盗报警系统</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/会议.png" alt="...">
        <p class="text-center">多媒体会议室</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/大厦小区.png" alt="...">
        <p class="text-center">智能小区</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/四画面.png" alt="...">
        <p class="text-center">拼接屏</p>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail">
        <img src="../static/img/卡片.png" alt="...">
        <p class="text-center">一卡通</p>
      </a>
    </div>
  </div> <!-- row -->
</div>


<!-- javascript -->
<script type="text/javascript">
  $(".m-current-nav-item").removeClass("m-current-nav-item");
  $("#service").addClass("m-current-nav-item");
</script>

