<div class="m-huge-banner w-full wrap" style="display: none;">
    <div class="m-huge-title">专业服务</div>
</div>



    <!-- Bootstrap core CSS -->
    <link href="./Blog Template for Bootstrap_files/bootstrap_3.3.7_css_bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./Blog Template for Bootstrap_files/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./Blog Template for Bootstrap_files/ie-emulation-modes-warning.js.下载"></script>



    <div class="container">
      
      <!-- 
      <div class="blog-header">
        <h2 class="blog-title">The Bootstrap Blog</h2>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>
    -->

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div id="s1" class="blog-post">
            <h2 class="blog-post-title">驻场服务</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>本服务适合于用户电脑数量50台以上或对IT依赖性比较高或IT工作量比较集中的企业。 这种服务方式优点就是服务方式非常灵活。</p>
            <hr>
            <h3>我们的方案：</h3>
            <p>我们提供桌面支持、项目管理、项目实施等各类IT人员派驻服务，通过流程化的预防性体系和严格的工程师绩效考核体系，控制服务质量和安全保密等客户关注点,具体方式：</p>
            <ul>
              <li>每周5天（周一~周五），按照用户作息时间上门提供人员派驻服务</li>
              <li>每周3天（如周一、三、五），按照用户作息时间上门提供人员派驻服务</li>
              <li>每周2天（如周二、四），按照用户作息时间上门提供人员派驻服务</li>
              <li>每周1天（如周三），按照用户作息时间上门提供人员派驻服务</li>
            </ul>
          </div><!-- /.blog-post -->

          <div id="s2" class="blog-post">
            <h2 class="blog-post-title">应急服务</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>本服务适用于用户电脑台数量50台以内的企业。 
              这种服务方式优点是方便、灵活、随叫随到, 3分钟响应、2小时内到场服务。 
              专属工程师、拒绝陌生面孔，而且相对固定工程师驻场服务，应急响应服务成本相对比较低。</p>
            <hr>
            <h3>我们的方案：</h3>
            <p>具体方式：</p>
            <ul>
              <li>7天 x 24小时 x 2小时服务（随时可以提请故障上门，2小时到场，不分休息日和工作时间）</li>
              <li>5天 x 8小时 x 2小时服务（每周5天，8小时工作时间内，2小时到场）</li>
              <li>5天 x 8小时 x 4小时服务（每周5天，8小时工作时间内，4小时到场）</li>
              <li>5天 x 8小时 x 8小时服务（每周5天，故障提请隔日上门）</li>
            </ul>
          </div><!-- /.blog-post -->

          <div id="s3" class="blog-post">
            <h2 class="blog-post-title">远程服务</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>此服务适用于用户的电脑数量10台内或者 移动办公人员多，地域分散或需要支持的次数少，响应要求却很高的企业。</p>
            <hr>
            <h3>我们的方案：</h3>
            <ul>
              <li>我们通过专业的软件（Teamviewer）为用户提供快速、安全、稳定的远程服务（5分钟内相应）。</li>
            </ul>
          </div><!-- /.blog-post -->

          <div id="s4" class="blog-post">
            <h2 class="blog-post-title">域名注册</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>我们提供各种后缀名的域名注册服务，后缀名包括：.com / .net/ .com.cn/ .cn/ .cc/ .org/等，拥有一个好记的域名可以给您的品牌推广带来预想不多的效果。</p>
            <hr>
            <h3>我们的方案：</h3>
            <p>具体方式：</p>
            <ul>
              <li>拥有全部域名管理权</li>
              <li>域名自由转入转出</li>
              <li>任意修改域名联系人信息</li>
              <li>完善的7*24小时不间断支持</li>
            </ul>
          </div><!-- /.blog-post -->

          <div id="s5" class="blog-post">
            <h2 class="blog-post-title">网站建设</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>我们致力于为中小企业量身定制网站建设、网站维护、网站推广等相关业务。</p>
            <hr>
            <h3>我们的优势</h3>
            <ul>
              <li>我们拥有一批服务素质高, 技术精湛的专业人才</li>
              <li>我们将全方位打造你网站的客户体验度 </li>
              <li>我们凝聚了一批"熟悉互联网技术, 又能融入各行业市场营销"的精英人才</li>
              <li>严格按照SEO的标准设计, 按照您的需求, 量身定制(非模板)</li>
              <li>分析自身优势, 定义核心关键词; 分析市场数据, 提供数据报表评估关键词可行性; 分析竞争同行关键词和推广思路; 系统合理化网站关键词分布</li>
            </ul>
          </div><!-- /.blog-post -->

          <div id="s6" class="blog-post">
            <h2 class="blog-post-title">采购服务</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>我们汇总客户的零星、碎片化采购需求，提供优于传统渠道和电商平台的专业采购服务。规模化采购模式得到了用户的良好反馈，我们积极为客户提供良好的采购解决方案。</p>
            <hr>
            <h3>我们的优势:</h3>
            <ul>
              <li>产品选型:　提供不同档次及品牌的产品选择，并提供选型方案。</li>
              <li>保修:　快速备件服务，并拥有与厂商保修特殊通道，确保快速保修。</li>
              <li>退货:　12 小时响应，有退换货资源。</li>
              <li>保外 维护：　可提供过保后的检修及检测服务。</li>  
            </ul>
          </div><!-- /.blog-post -->

          <div id="s7" class="blog-post">
            <h2 class="blog-post-title">信息安全评估</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>随着技术的发展，各类业务复杂性不断增加导致IT支撑系统复杂度也跟随增加；信息安全建设的思路需要贯彻到IT支撑系统的整个生命周期中。 信息安全考虑内容覆盖面较广，在系统建设时容易出现部分信息安全防护功能缺失,我们需要对系统安全性进行评估。</p>
            <hr>
            <h3>我们的方案:</h3>
            <ul>
              <li>第一步 现状调研 ： 从资产分类、日常运维、管理机制、系统配置等方面对组织信息安全管理，安全现状进行调研，通过培训使组织相关人员全面了解信息安全管理的基本知识；</li>
              <li>第二步 风险评估 ： 对组织信息资产进行资产价值、威胁因素、脆弱性分析，从而评估组织信息安全风险，出具评估报告，选择适当的措施、方法实现管理风险的目的。</li>
              <li>第三步 管理策划 ： 根据组织对信息安全风险的策略，制定相应的信息安全整体规划、管理规划、技术规划等，形成完整的信息安全管理系统。</li>
              <li>第四步 体系实施 ： 全面实施信息安全管理策略、执行安全管理体系，落实信息安全管理技术计划，根据实施效果改进、更新管理方案，实现信息安全的长效性保障。</li>
            </ul>
          </div><!-- /.blog-post -->


          <div id="s8" class="blog-post">
            <h2 class="blog-post-title">IT流程梳理</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

            <p>IT规划，是面向企业业务的 IT战略规划，必然需要考虑业务的运营特点和需求。以往为企业提供IT规划咨询服务时，很多企业都提出，IT规划要满足业务的需求，那就要对业务足够熟 悉，而通过梳理流程能够达到这一步，并且对以后实施系统也有帮助，因此经常要求咨询顾问梳理流程。</p>
            <hr>
            <h3>我们的方案:</h3>
            <ul>
              <li>第一步 现状调研 ： 组织信息化发展的驱动力在于更好的支撑现有业务，并兼顾到未来业务大规模发展的需求，所以建立IT服务管理体系应围绕业务进行系统的分析，定位IT能力：
                从组织的战略出发，可以分解出业务战略和IT战略。而IT 战略是对管理决策的数据支持、提升内部协作效率、通过流程优化提高流程的有效性和作好日常信息化运营保障工作。
                因此，我们在IT服务管理体系建设中，必须关注IT与业务的整合，作好业务梳理工作，做好整体规划，设定发展蓝图。</li>
              <li>第二步 现状评估 ： 进行企业的现状了解和分析，对公司高层、业务部门、信息部门和合作伙伴进行现场访谈，了解IT服务支持现状，理解业务策略、重要业务流程以及对目前应用更改的可能性，并列出高层次的业务需求。</li>
              <li>第三步 标准匹配 ： 明确组织中急需改进的重点目标是什么，在改进策略的讨论阶段，要有完善的分析工具用于记录每一个策略的来源和作用。我们通过开展管理改进策略讨论会，确保记录的完备。其次，改进建议一旦确定，就需要明确使用计划的方式，指定负责人、完成时间、检查人、结果确认方式以及确认人。管理改进计划要与日常工作计划合并，统一执行和检查。</li>
              <li>第四步 流程改进 ： 在流程体系设计中，我们遵循流程优化改进方法论来进行流程优化和流程设计，
                确定远景与目标/现状评估/流程改进设计/指标监控,为客户设计一套符合国际标准、独具组织特色、执行化简单的IT管理流程。</li>
              <li>第五步 流程评估 ： 通过定期的流程内部审计，进行流程的持续改进，不断提高流程管理水平。并对IT团队进行质量审计，通过服务审计报告的形式来实现。</li>
            </ul>
          </div><!-- /.blog-post -->



        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>专注于心 | 专业于行</p>
            <p>客户至上 | 服务至上</p>
          </div>
          <div class="sidebar-module">
            <h4>运维服务</h4>
            <ol class="list-unstyled">
              <li><a href="#s1">驻场服务</a></li>
              <li><a href="#s2">应急服务</a></li>
              <li><a href="#s3">远程服务</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
              <h4>生态链服务</h4>
              <ol class="list-unstyled">
                <li><a href="#s4">域名注册</a></li>
                <li><a href="#s5">网站建设</a></li>
                <li><a href="#s6">采购服务</a></li>
                <li><a href="#s7">信息安全评估</a></li>
                <li><a href="#s8">IT流程梳理</a></li>
              </ol>
            </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Blog Template for Bootstrap_files/jquery_1.12.4_jquery.min.js.下载"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./Blog Template for Bootstrap_files/bootstrap_3.3.7_js_bootstrap.min.js.下载"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./Blog Template for Bootstrap_files/ie10-viewport-bug-workaround.js.下载"></script>
  


<!-- javascript -->
<script type="text/javascript">
    $(".m-current-nav-item").removeClass("m-current-nav-item");
    $("#service").addClass("m-current-nav-item"); 
</script>