<div class="m-huge-banner w-full wrap" style="display: none;">
  <div class="m-huge-title">专业服务</div>
</div>

<style>
.m-business-item{
  margin: 10px 0; 
  /* background-color: rebeccapurple; 
  color: #ffffff;  */
}
.m-business-item-icon {
  width:64px;
  float: left; 
} 
.m-business-item-desc { 
  display: inline-block;
  vertical-align:middle;
}

</style>



<div class="m-huge-banner w-full wrap">
    <div class="m-huge-title text-center">专业服务</div>
</div>

<div class="container wrap">
  <div class="row">
    <hr class="featurette-divider">

    <blockquote>
      <h2>运维服务</h2>
    </blockquote>
    <div class="col-xs-6 col-md-3">
      <a href="" onclick="window.open('./yunwei01')" class="thumbnail">
        <img src="../static/img/驻场服务.png" alt="...">
        <p class="text-center">驻场服务</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="./joinus.html" target="_blank" class="thumbnail">
        <img src="../static/img/应急服务.png" alt="...">
        <p class="text-center">应急服务</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/远程服务.png" alt="...">
        <p class="text-center">远程服务</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/微管家服务.png" alt="...">
        <p class="text-center">微网管服务</p>
      </a>
    </div>
  </div> <!-- row -->
  <div class="row">
    <hr class="featurette-divider">
    <blockquote>
      <h2>系统集成</h2>
    </blockquote>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/network.png" alt="...">
        <p class="text-center">网络改造</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/wifi.png" alt="...">
        <p class="text-center">无线覆盖</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/访问控制策略.png" alt="...">
        <p class="text-center">访问控制</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/jiankong.png" alt="...">
        <p class="text-center">驻场服务</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/jiankong.png" alt="...">
        <p class="text-center">驻场服务</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/jiankong.png" alt="...">
        <p class="text-center">驻场服务</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/jiankong.png" alt="...">
        <p class="text-center">驻场服务</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/img/jiankong.png" alt="...">
        <p class="text-center">驻场服务</p>
      </a>
    </div>
  </div> <!-- row -->
  
</div>


<!-- javascript -->
<script type="text/javascript">
  $(".m-current-nav-item").removeClass("m-current-nav-item");
  $("#service").addClass("m-current-nav-item");
</script>