<div class="m-huge-banner w-full wrap">
	<div class="m-huge-title text-center">运维服务&emsp;之&emsp;{{.CrtTitle}}</div>
</div>

<div class="container">
	<!-- START THE FEATURETTES -->
	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-8">
			<h2 class="featurette-heading">{{.CrtTitle}}</h2>
			<p class="">{{.TitleDesc}}</p>
		</div>
		<div class="col-md-4">
			<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="../static/img/w1.png"
			 data-holder-rendered="true">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-4">
			<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="../static/img/enginner.png"
			 data-holder-rendered="true">
		</div>
		<div class="col-md-8">
			<h2 class="featurette-heading">我们的方案：</h2>
			<p>{{.PlanDesc}}</p>
			<ol>
				{{range $index, $elem := .PlanItemsMap}}
				<li>{{$elem}} </li>
				{{end}}
			</ol>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">我们提供的保障:</h2>
			<ol>
				<li>1. 人员固定 ：一经选择我们的服务，我们成立以1名服务经理为组长的对口服务小组，固定人员服务 </li>
				<li>2. 流程化管理 ：以1年服务周期分为 导入期、服务期和结束期，控制服务的全过程，严格服务人员绩效考核，确保服务质量</li>
				<li>3. 技术培训、团队协作 ： 我们的服务人员均经过严格的技术训练和服务规范培训，并通过每月2次的技术交流以及不定期的集训式培训，保障服务人员的技术领先性，同时，形成工程师 – 项目经理 – 服务经理 –
					技术专家的梯队支持，充分体现团队的支持能力和服务优势</li>
				<li>4. 预防控制，降低故障率 ： 我们建立了一系列的故障预防机制，主动服务，强化非故障期的检测和预处理，以降低故障率为服务目标，而不是被动的维修维护。 据统计，按照我们的网络整理和预防措施标准实施后，故障率会降低20~30%</li>
				<li>5. 充足人员后备 ： 我们按照服务人员的数量，提供充足的后备人员，避免人员波动造成的服务断档，并为用户临时工作量增加的人员提请提供充足支持力量</li>
				<li>6. 安全保密 ： 我们通过<服务人员上门规范>、与服务人员之间的<保密协议>、与客户之间的<保密协议>、对服务人员的职业素质教育、对服务人员的严格监管、人性化的激励，从人性化和严肃的法律多方位保障客户的信息安全。</li>
				<li>7. 1小时投诉响应 ： 一旦客户投诉，我们承诺在1小时内提供解决方案</li>
			</ol>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="../static/img/u3.jpg"
			 data-holder-rendered="true">
		</div>
	</div>

	<hr class="featurette-divider">
	<!-- /END THE FEATURETTES -->
</div>

<!-- javascript -->
<script type="text/javascript">
	$(".m-current-nav-item").removeClass("m-current-nav-item");
	$("#service").addClass("m-current-nav-item");
</script>