body {
    font-family: Georgia, "Times New Roman", Times, serif;
    min-width: 1200px;
    padding-top: 80px; 
    /* background-color: #f3f5f6; */
}
div {
    display: block;
}
li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none !important;
} 

/*
a:hover {
    color: darkorange !important;
}*/

.wrap {
    margin: 0 auto; 
    height: 100%;
}

.w {
   width: 970px;
}
.w-full {
    width: 100%;
}


.m-huge-banner {
    height: 200px;
    /* background-image: url(../img/machine1.png); */
    
    background-image: url(../img/v5.png); 
    /* background-image: url(../img/iBanner.jpg);  */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.m-huge-title {
    color: black;
    font-size: 60px;
    font-weight: 700;
    line-height: 200px; 
    /* 
    background: linear-gradient(-185deg,rgba(245,245,245,1) 50%,#fff 50%);
    background: linear-gradient(185deg,#fff 50%,rgba(245,245,245,1) 50%);
    */
}



.m-current-nav-item {
    color: darkorange !important;
    /*text-decoration: line-through !important;*/
}

.m-enter-item {
    /* border-bottom-style: solid; */
    /* color:yellowgreen !important; */ 
    color: darkorange !important;
    /*color: #c00 !important;*/
}


.navbar {
    /*
    background-image: url(../img/nimbus-hero_grey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    padding: 15px 0; */

    background-image: url(../img/hhh.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 0;
    padding: 15px 0; 

    color: #fff !important;
}

.navbar-nav>li>a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}


.m-nav-logo {
    float: left;
    width: 200px;
    height: 100%;
}

.m-body{
    min-height: 600px; 
}

.m-footer {
    background-color: #1a1a1a;
    color: #ffffff;
}
.m-footer-top {
    height: 140px;
    background-color: #252525; 
}
.m-footer-bottom {
    height: 50px; 
    line-height: 50px;
}

.m-footer-top-items>li {
    float: left;
    margin-left: 20px;
}







