body {
    min-width: 1200px;
    padding-top: 60px; 
    /* background-color: #f3f5f6; */
}
div {
    display: block;
}
li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none !important;
}


.wrap {
    margin: 0 auto; 
    height: 100%;
}

.w {
   width: 970px;
}
.w-full {
    width: 100%;
}

.m-huge-banner {
    height: 305px;
    background-image: url(../img/machine.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.m-current-nav-item {
    color: darkorange;
    border-bottom-style: solid;
}

.m-enter-item {
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* border-bottom-style: solid; */
    color: darkorange; 
}




.navbar {
    height: 60px;
    /*
    color: #FB7A4F;
    专注于心 专业于行
   */

    background-image: url(../img/nimbus-hero_grey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    
}


.m-nav-logo {
    float: left;
    width: 200px;
    height: 100%;
}

.m-nav-ul {
    margin-left: 250px;
    color: #ffffff;
}
.m-nav-ul>li {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    border: 6px 0;
    padding: 15px 20px; 
}

.m-body{
    min-height: 400px; 
}

.m-footer {
    background-color: #1a1a1a;
    color: #ffffff;
}
.m-footer-top {
    height: 140px;
    background-color: #252525; 
}
.m-footer-bottom {
    height: 50px; 
    line-height: 50px;
}

.m-footer-top-items>li {
    float: left;
    margin-left: 20px;
}


.m-huge-title {
    color: #ffffff;
    font-size: 80px; 
    font-weight: 700;
    line-height: 305px; 
    /*
    background: linear-gradient(-185deg,rgba(245,245,245,1) 50%,#fff 50%);
    background: linear-gradient(185deg,#fff 50%,rgba(245,245,245,1) 50%);
    */
}






